.about {
  background: rgb(249, 249, 249);
}

.about__title {
  text-align: center;
  margin-bottom: 25px;
}

.about__subtitle {
  text-align: center;
}

.about__subtitle::before {
  content: ' ';
  background-image: url('/img/Left.jpg');
}

.about__subtitle::after {
  content: ' ';
  background-image: url('/img/Right.jpg');
}

.about__text {
  text-align: center;
}

.about__list {
  list-style: decimal;
  /* padding: auto;
  margin: auto; */
  display: flex;
  flex-direction: row;
}

.about__item::before {
  color: aqua;
}

/* .about__list::before {
  list-style: decimal inside;
  padding: 10px 10px;
} */

.about__item {

}