.about {
  background: rgb(249, 249, 249);
}

.about__title {
  text-align: center;
  margin-bottom: 25px;
  color: rgb(56, 58, 76);
}

.about__subtitle {
  color: rgb(56, 58, 76);
  margin-bottom: 35px;
  display: flex;
  align-items: center;
  justify-content:center;
  gap: 23px;
  /* width: 189px; */
}

.about__subtitle::before {
  content: url('');
  display: block;
  background-image: url('/img/Left.jpg');
  width: 42px;
  height: 2px;

}

.about__subtitle::after {
  content: url('');
  display: block;
  background-image: url('/img/Right.jpg');
  width: 42px;
  height: 2px;
}

.about__text {
  color: rgb(56, 58, 76);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;
  padding: 0 133px;
  margin-bottom: 50px;
}

.about__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  counter-reset: count 0;
  color: rgb(56, 58, 76);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0%;
}


.about__item::before {
  content: counter(count, decimal);
  counter-increment: count;
  display: flex;
  justify-content: center;
  align-items: center;
	background: rgb(35, 199, 236);
  width: 122px;
  height: 122px;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 57px;
  font-weight: 500;
  margin-bottom: 16px;
}

.about__item {
  width: 196px;
  height: 195px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}