.form {
  background-image: url("/img/form-background.jpg");
  /* height: 621px; */
}

.form__body {
  display: flex;
  flex-direction: column;
}

.form__btn {
  border-radius: 50px;
  box-shadow: 0px 4px 25px 0px rgba(21, 169, 203, 0.3);
  background: rgb(21, 169, 203);
  /* height: 48px; */
  padding: 11px 38px;
  color: var(--main-white);
}