.header__container {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 120px; */
  /* position: absolute;
  left: 0;
  right: 0;
  top: 0; */
  z-index: 3;
  
}
.header__logo {
  font-family: Pacifico;
  font-size: 25.16px;
  font-weight: 400;
  color: var(--main-white);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--pacific-blue);
  border-radius: 50%;
  width: 68px;
  height: 68px;
} 

.header__logo-a {

}

.header__tel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header__tel-nmbr {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 23.85px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}

.header__tel-btn {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.5);
  text-underline-position: under;
}

.header {
  position:absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 3;
  margin-bottom: 160px;
  /* position: relative; */
  /* bottom: 120px; */
}

