.hero__title {
  margin-bottom: 35px;
  text-align: center;
  line-height: 61px;
  font-family: Roboto;
  font-size: 52px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.86);
}

.hero__text {
  color: rgba(255, 255, 255, 0.75);
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin-bottom: 90px;
}

.hero__btn {
  display: flex;
  justify-content: center;
}

.hero__btn-more {
  border-radius: 50px;
  box-shadow: 0px 4px 25px 0px rgba(21, 169, 203, 0.3);
  background: rgb(21, 169, 203);
  padding: 12px 48px;
}

.hero {
  background-image: url("../img/hero-background.jpg");
  height: 732px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.hero:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(47, 50, 75, 0.85);
  z-index: 2;
}

.container__hero {
  position: relative;
  z-index: 3;
  padding-top: 228px;
  padding-left: 104px;
  padding-right: 106px;
}

.hero__btn {
  
  
}