@font-face {
  font-family: Roboto;
  src: local("Roboto"), local("Roboto-Regular"),
        url("../fonts/Roboto-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: local("Roboto"), local("Roboto-Bold"),
        url("../fonts/Roboto-Bold.ttf");
  font-weight: 700;
  font-display: swap;
} 

@font-face {
  font-family: Roboto;
  src: local("Roboto"), local("Roboto-Black"),
        url("../fonts/Roboto-Black.ttf");
  font-weight: 900;
  font-display: swap;
} 

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px; 
  min-height: 100vh;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  color: var(--main-color);
  background-color: var(--main-dark);
}


img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  height: auto;
  max-width: 100%;
}


button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

ul,ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset,
blockquote {
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.section:last-child {
  margin-bottom: 0;
}

.section-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
  }

  fieldset {
    border: none;
  }